# See https://dart.dev/guides/libraries/private-files

.dart_tool/
.packages
build/
pubspec.lock  # Except for application packages

# Secrets
quicktest.dart

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store
