{{>header}}
{{>part_of}}
class {{{modelNamePrefix}}}ApiKeyAuthentication{{{modelNameSuffix}}} implements {{{modelNamePrefix}}}Authentication{{{modelNameSuffix}}} {
  {{{modelNamePrefix}}}ApiKeyAuthentication{{{modelNameSuffix}}}(this.location, this.paramName, this.apiKey, {this.apiKeyPrefix = ''});

  /// `location` can be 'query', 'header', or 'cookie'
  final {{{modelNamePrefix}}}HttpLocation{{{modelNameSuffix}}} location;

  /// `paramName` is the name of the parameter to use for sending the api key
  final String paramName;

  /// if set, the `apiKeyPrefix` will be prepended to the `apiKey`
  /// and separated by a space character
  String apiKeyPrefix = '';

  String apiKey = '';

  @override
  void applyToParams(List<{{{modelNamePrefix}}}QueryParam{{{modelNameSuffix}}}> queryParams, Map<String, String> headerParams) {
    final paramValue = apiKeyPrefix.isEmpty ? apiKey : '$apiKeyPrefix $apiKey';

    if (paramValue.isNotEmpty) {
      if (location == {{{modelNamePrefix}}}HttpLocation{{{modelNameSuffix}}}.query) {
        queryParams.add({{{modelNamePrefix}}}QueryParam{{{modelNameSuffix}}}(paramName, paramValue));
      } else if (location == {{{modelNamePrefix}}}HttpLocation{{{modelNameSuffix}}}.header) {
        headerParams[paramName] = paramValue;
      } else if (location == {{{modelNamePrefix}}}HttpLocation{{{modelNameSuffix}}}.cookie) {
        headerParams.update(
          'Cookie',
          (existingCookie) => '$existingCookie; $paramName=$paramValue',
          ifAbsent: () => '$paramName=$paramValue',
        );
      }
    }
  }
}
