import 'package:{{{pubName}}}/api.dart';

{{>client_example}}

{{#allParams}}
final {{{paramName}}} = {{#isArray}}[{{/isArray}}{{#isBodyParam}}{{{dataType}}}(){{/isBodyParam}}{{^isBodyParam}}{{{example}}}{{/isBodyParam}}{{#isArray}}]{{/isArray}}; // {{{dataType}}} | {{{description}}}
{{/allParams}}

try {
  {{#returnType}}final result = {{/returnType}}await client.{{classVarName}}.{{{operationId}}}({{#allParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/allParams}});
  {{#returnType}}
  print(result);
  {{/returnType}}
} catch (e) {
  print('Exception when calling {{{classname}}}->{{{operationId}}}: $e\n');
}
