# {{{pubName}}}.api.{{{classname}}}{{#description}}
{{{.}}}{{/description}}

## Load the API package
```dart
import 'package:{{{pubName}}}/api.dart';
```

All URIs are relative to *{{{basePath}}}*

Method | HTTP request | Description
------------- | ------------- | -------------
{{#operations}}{{#operation}}[**{{{operationId}}}**]({{{classname}}}.md#{{{operationIdLowerCase}}}) | **{{{httpMethod}}}** {{{path}}} | {{{summary}}}
{{/operation}}{{/operations}}

{{#operations}}
{{#operation}}
# **{{{operationId}}}**
> {{#returnType}}{{{.}}} {{/returnType}}{{{operationId}}}({{#allParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/allParams}})

{{{summary}}}{{#notes}}

{{{.}}}{{/notes}}

### Example
```dart
import 'package:{{{pubName}}}/api.dart';

// TODO: Set up the client
{{#hasAuthMethods}}
{{#authMethods}}
{{#isBasic}}
{{#isBasicBasic}}
// Configure client with HTTP basic authorization:
// client = {{#apiClientName}}{{.}}{{/apiClientName}}{{^apiClientName}}{{{modelNamePrefix}}}ApiClient{{{modelNameSuffix}}}{{/apiClientName}}(
//   basePath: 'https://your-server.tld/api/v4',
//   authentication: {{{modelNamePrefix}}}HttpBasicAuthentication{{{modelNameSuffix}}}(
//     username: 'USERNAME',
//     password: 'PASSWORD',
//   ),
// );
{{/isBasicBasic}}
{{#isBasicBearer}}
// Configure client with HTTP Bearer authorization and string token:
// client = {{#apiClientName}}{{.}}{{/apiClientName}}{{^apiClientName}}{{{modelNamePrefix}}}ApiClient{{{modelNameSuffix}}}{{/apiClientName}}(
//   basePath: 'https://your-server.tld/api/v4',
//   authentication: {{{modelNamePrefix}}}HttpBearerAuthentication{{{modelNameSuffix}}}('YOUR TOKEN'),
// );
// Configure client with HTTP Bearer authorization and function returning a string:
// client = {{#apiClientName}}{{.}}{{/apiClientName}}{{^apiClientName}}{{{modelNamePrefix}}}ApiClient{{{modelNameSuffix}}}{{/apiClientName}}(
//   basePath: 'https://your-server.tld/api/v4',
//   authentication: {{{modelNamePrefix}}}HttpBearerAuthentication{{{modelNameSuffix}}}(()=>'ACCESS TOKEN FROM FUNCTION'),
// );
{{/isBasicBearer}}
{{/isBasic}}
{{#isApiKey}}
// Configure client with ApiKey authorization:
// client = {{#apiClientName}}{{.}}{{/apiClientName}}{{^apiClientName}}{{{modelNamePrefix}}}ApiClient{{{modelNameSuffix}}}{{/apiClientName}}(
//   basePath: 'https://your-server.tld/api/v4',
//   authentication: MattermostApiKeyAuthentication(
//     HttpLocation.query,
//     'PARAM_NAME',
//     'API_KEY',
//     apiKeyPrefix: 'PREFIX',
//   ),
// );
{{/isApiKey}}
{{#isOAuth}}
// Configure client with OAuth authorization:
// client = {{#apiClientName}}{{.}}{{/apiClientName}}{{^apiClientName}}{{{modelNamePrefix}}}ApiClient{{{modelNameSuffix}}}{{/apiClientName}}(
//   basePath: 'https://your-server.tld/api/v4',
//   authentication: {{{modelNamePrefix}}}OAuth{{{modelNameSuffix}}}(accessToken: 'YOUR TOKEN'),
// );
{{/isOAuth}}
{{/authMethods}}
{{/hasAuthMethods}}

// Then, access {{{classname}}} api instance
// final {{{classname}}} api_instance = client.{{classVarName}}

{{#allParams}}
final {{{paramName}}} = {{#isArray}}[{{/isArray}}{{#isBodyParam}}{{{dataType}}}(){{/isBodyParam}}{{^isBodyParam}}{{{example}}}{{/isBodyParam}}{{#isArray}}]{{/isArray}}; // {{{dataType}}} | {{{description}}}
{{/allParams}}

try {
    {{#returnType}}final result = {{/returnType}}await client.{{classVarName}}.{{{operationId}}}({{#allParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/allParams}});
    {{#returnType}}
    print(result);
    {{/returnType}}
} catch (e) {
    print('Exception when calling {{{classname}}}->{{{operationId}}}: $e\n');
}
```

### Parameters
{{^allParams}}This endpoint does not need any parameter.{{/allParams}}{{#allParams}}{{#-last}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------{{/-last}}{{/allParams}}
{{#allParams}} **{{{paramName}}}** | {{#isPrimitiveType}}**{{{dataType}}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{{dataType}}}**]({{{baseType}}}.md){{/isPrimitiveType}}| {{{description}}} | {{^required}}[optional] {{/required}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/allParams}}

### Return type

{{#returnType}}{{#returnTypeIsPrimitive}}**{{{returnType}}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}[**{{{returnType}}}**]({{{returnBaseType}}}.md){{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}void (empty response body){{/returnType}}

### Authorization

{{^authMethods}}No authorization required{{/authMethods}}{{#authMethods}}[{{{name}}}](../{{#readmeName}}{{.}}{{/readmeName}}{{^readmeName}}README{{/readmeName}}.md#{{{name}}}){{^-last}}, {{/-last}}{{/authMethods}}

### HTTP request headers

 - **Content-Type**: {{#consumes}}{{{mediaType}}}{{^-last}}, {{/-last}}{{/consumes}}{{^consumes}}Not defined{{/consumes}}
 - **Accept**: {{#produces}}{{{mediaType}}}{{^-last}}, {{/-last}}{{/produces}}{{^produces}}Not defined{{/produces}}

[[Back to top]](#) [[Back to API list]](../{{#readmeName}}{{.}}{{/readmeName}}{{^readmeName}}README{{/readmeName}}.md#documentation-for-api-endpoints) [[Back to Model list]](../{{#readmeName}}{{.}}{{/readmeName}}{{^readmeName}}README{{/readmeName}}.md#documentation-for-models) [[Back to README]](../{{#readmeName}}{{.}}{{/readmeName}}{{^readmeName}}README{{/readmeName}}.md)

{{/operation}}
{{/operations}}
