{{#models}}{{#model}}# {{{pubName}}}.model.{{{classname}}}

## Load the package and get an instance of this class.
```dart
{{>doc_example_object}}
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
{{#vars}}**{{{name}}}** | {{#isPrimitiveType}}**{{{dataType}}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{{dataType}}}**]({{{complexType}}}.md){{/isPrimitiveType}} | {{{description}}} | {{^required}}[optional] {{/required}}{{#isReadOnly}}[readonly] {{/isReadOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/vars}}

[[Back to Model list]](../{{#readmeName}}{{.}}{{/readmeName}}{{^readmeName}}README{{/readmeName}}.md#documentation-for-models) [[Back to API list]](../{{#readmeName}}{{.}}{{/readmeName}}{{^readmeName}}README{{/readmeName}}.md#documentation-for-api-endpoints) [[Back to README]](../{{#readmeName}}{{.}}{{/readmeName}}{{^readmeName}}README{{/readmeName}}.md)

{{/model}}{{/models}}
